<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore | <%= title %></title>
    <%- include('../partials/globalStyling.ejs')%>
</head>
<body>
    <%- include("../partials/navbar.ejs") -%>
    <%- include("../partials/filter.ejs") -%>
    <div class="book-body">
        
        <div class="book-container">
            
            <div class="book-grid">
                <% if (books.length>0) { %>
                    <% books.forEach(book => { %>
                        <!-- <h2>Available Books</h2> -->
                <div class="book-card">
                    <img src="book-cover1.jpg" alt="Book Cover">
                    <h3><%= book.title %></h3>
                    <p><strong>Author:</strong> <%= book.author %></p>
                    <p class="genres">Genres: <%= book.genre %></p>
                </div> <% });%>
                <% }else{%>
                    <div>
                        <p>No Books Available</p>
                    </div>
                <% } %>
    
            </div>
        </div>
    </div>
</body>
</html>